#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 1rem; */
    margin-bottom: 50px;
}

#title-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#title-icon > h1 {
    font-size: 2.7rem;
}

#title-icon > img {
    margin-left: 6px;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
    padding: 10px 20px;
    border-radius: 15px;
}

#scoreboard > p {
    font-size: 1.5rem;
    font-weight: bold;
}

#scoreboard > p > span {
    color: red;
}
